{% for paragraph in data.hierarchy %}
<p class="paragraph-unit" data-begin="{{paragraph[0][0].begin}}" data-end="{{paragraph[-1][-1].end}}">
    {% for line in paragraph %}
    <span class="my-1 sentence-unit" data-begin="{{line[0].begin}}" data-end="{{line[-1].end}}">
        {% for word in line %}
        {% if word.id %}
            <span class="transliteratable align-text m-0 word-unit" data-begin="{{word.begin}}" data-end="{{word.end}}">
                {{word.lines | join(' ')}}
            </span>
            {% else %}
            <span class="transliteratable m-0">
                {{word.lines | join(' ')}}
            </span>
            {% endif %}
        {% endfor %}
        <br>
    </span>
    {% endfor %}
</p>
{% endfor %}
